@use 'breakpoints';

@mixin rules-modal {
  &#rules {
    .md-content-image {
      width: 100%;
      position: relative;
      visibility: visible;
      user-select: none;

      svg.md-image-icon {
        width: 100%;
        height: auto;
      }
    }

    .md-youtube-player {
      width: 100%;
      height: auto;
      position: absolute;
      visibility: hidden;
      aspect-ratio: 16 / 9;
      outline: 0;
      border: 0;
    }

    .md-video-button {
      border: 0;

      .md-youtube-icon {
        width: 6rem;
        height: auto;
      }
    }

    &.md-content {
      &__media-video {
        max-width: 35rem;

        .md-content-image {
          position: absolute;
          visibility: hidden;
        }

        .md-youtube-player {
          position: initial;
          visibility: visible;
        }

        .md-video-button {
          border: 1.5px solid var(--color-navy-900);
        }
      }
    }

    @include breakpoints.mobile {
      padding: 4rem 1.5rem;

      &__content-type-video {
        max-width: 100%;
      }

      .md-content-wrapper {
        .md-youtube-player {
          border-radius: 0.5rem;
        }
      }
    }
  }
}
