@use 'breakpoints';
@use "./board.selection.scss" as bs;
@use './board.outcome.scss' as bo;

.game-board {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .board-content-wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    aspect-ratio: 1;

    @include bs.board-selection;
    @include bo.board-outcome;
  }

  @include breakpoints.tablet {
    padding-top: 3rem;
  }

  @include breakpoints.mobile {
    padding-top: 5rem;

    .board-content-wrapper {
      width: 100%;
      aspect-ratio: 1;
    }
  }
}
