@import '../../styles/breakpoints';

.game-board {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .board-content-wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    aspect-ratio: 1;

    @import "./board.selection.scss";
    @import './board.outcome.scss';
  }

  @media (max-width: $--breakpoint-tablet) {
    padding-top: 3rem;
  }

  @media (max-width: $--breakpoint-mobile) {
    padding-top: 5rem;

    .board-content-wrapper {
      width: 100%;
      aspect-ratio: 1;
    }
  }
}
