@import '../../styles/breakpoints';

@keyframes netflix-slide {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

&.board--outcome {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease-in-out;
  padding: 0.5rem 0.75rem;
  max-height: 50vh;

  &.board--status-loading {
    justify-content: center;
    gap: 4rem;
  }

  .selection-outcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &>label {
      font-size: 3.5rem;
      font-weight: var(--font-weight-bold);
      color: var(--color-white);
      text-transform: uppercase;
      line-height: 1.2;
    }

    &>button {
      width: 100%;
      font-size: 1rem;
      padding: 1rem 4rem;
      text-transform: uppercase;
      border-radius: 0.5rem;
      letter-spacing: 2.5px;
      line-height: 1.2;

      &:hover {
        color: var(--color-red-800);
      }

      &.button--draw {
        position: relative;
        background: var(--color-gray-400);
        overflow: hidden;
        z-index: 1;

        span {
          position: relative;
          z-index: 3;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          animation-name: netflix-slide;
          animation-duration: inherit;
          animation-timing-function: ease-in-out;
          background: var(--color-white);
          height: 100%;
          z-index: 2;
          width: 0%;
          left: 0;
          top: 0;
        }
      }
    }
  }

  @media (max-width: $--breakpoint-tablet) {
    display: grid;
    align-items: flex-start;
    grid-template-rows: min-content min-content;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: unset;
    max-height: none;

    .selection-outcome {
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      padding-top: 2rem;

      &>button {
        padding: 1rem 5rem;
        width: auto;
      }
    }
  }

  @media (max-width: $--breakpoint-mobile) {
    grid-template-columns: repeat(2, max-content);

    &.board--status-loading {
      justify-content: space-between;
      gap: 0;
    }

    .selection-outcome {
      padding-top: 4rem;

      &>label {
        font-size: 3rem;
      }
    }
  }
}
