@use 'breakpoints';

@keyframes netflix-slide {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes reveal {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

@mixin board-outcome {
  width: 100%;

  &__board-outcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    padding: 0.5rem 0.75rem;
    max-height: 50vh;

    .selection-outcome {
      display: flex;
      animation: .3s ease-in-out reveal;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .outcome-label {
        font-size: 3.5rem;
        font-weight: var(--font-weight-bold);
        color: var(--color-white);
        text-transform: uppercase;
        line-height: 1.2;
      }

      .outcome-button {
        width: 100%;
        font-size: 1rem;
        padding: 1rem 4rem;
        text-transform: uppercase;
        border-radius: 0.5rem;
        letter-spacing: 2.5px;
        line-height: 1.2;

        &:hover {
          color: var(--color-red-800);
        }

        &__outcome-draw {
          position: relative;
          background: var(--color-gray-400);
          overflow: hidden;
          z-index: 1;

          span {
            position: relative;
            z-index: 3;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            animation: 3s ease-in-out netflix-slide;
            animation-duration: inherit;
            background: var(--color-white);
            height: 100%;
            z-index: 2;
            width: 0%;
            left: 0;
            top: 0;
          }
        }
      }
    }

    @include breakpoints.tablet {
      display: grid;
      align-items: flex-start;
      grid-template-rows: min-content min-content;
      grid-template-columns: repeat(2, 1fr);
      aspect-ratio: unset;
      max-height: none;

      .selection-outcome {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        padding-top: 2rem;

        .outcome-button {
          padding: 1rem 5rem;
          width: auto;
        }
      }
    }

    @include breakpoints.mobile {
      grid-template-columns: repeat(2, max-content);

      .selection-outcome {
        padding-top: 4rem;

        .outcome-label {
          font-size: 3rem;
        }
      }
    }
  }

  &--is-loading {
    justify-content: center;
    gap: 4rem;

    @include breakpoints.mobile {
      justify-content: space-between;
      gap: 0;
    }
  }
}
