$chip-size: 12.5rem;
$line-size: 1rem;

.game-board {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .board-content-wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    aspect-ratio: 1/1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      aspect-ratio: 1;
      width: 100%;
    }

    &.board--standard {
      max-width: 29.75rem;

      &::after {
        top: calc(var(--chip-size) / 2);
        left: calc(var(--chip-size) / 2);
        background-image: url('../images/bg-triangle.svg');
        max-width: calc(100% - var(--chip-size));
        margin-top: -1rem;
      }
    }

    &.board--results {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0.5rem 0.75rem;
      max-height: 50vh;

      .selected-option {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;

        label {
          font-size: 1.5rem;
          color: var(--color-white);
          font-weight: var(--font-weight-bold);
          letter-spacing: 3px;
          line-height: 1.35;
        }

        .chip {
          cursor: default;
          position: relative;
          padding: 2rem;
          height: 18.75rem;
          width: 18.25rem;

          .wrapper {
            margin-top: -1rem;
          }

          &.chip--loader {
            opacity: 0.3;
            background-image: url(../images/spinner.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

          &:hover {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
