$chip-size: 12.5rem;
$line-size: 1rem;

.game-board {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .board-content-wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    aspect-ratio: 1/1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      aspect-ratio: 1;
      width: 100%;
    }

    &.board--standard {
      max-width: 29.75rem;

      &::after {
        top: calc(var(--chip-size) / 2);
        left: calc(var(--chip-size) / 2);
        background-image: url('../images/bg-triangle.svg');
        max-width: calc(100% - var(--chip-size));
        margin-top: -1rem;
      }
    }
  }
}
