@use 'breakpoints';
@import 'https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700;900&display=swap';

:root {
  /* Font */
  --font-family-base: "Barlow Semi Condensed", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Primary */
  --color-gold-500: #EB9F0E;
  --color-gold-600: #C76C1B;
  --color-gold-700: #BC8404;
  --color-blue-500: #4664F4;
  --color-blue-700: #2A45C2;
  --color-red-600: #DB2E4D;
  --color-red-800: #9D1634;
  --color-purple-600: #834EE3;
  --color-purple-700: #5F37A8;
  --color-light-blue-400: #3FB7CD;
  --color-light-blue-500: #2D8DAB;

  /* Neutral */
  --color-white: #FFF;
  --color-black: #000;
  --color-gray-100: #F7F9FF;
  --color-gray-200: #E1E4ED;
  --color-gray-400: #B1B4C5;
  --color-gray-500: #8A90AC;
  --color-gray-600: #565468;
  --color-silver-100: #707070;
  --color-bronze-100: #DDA06A;
  --color-navy-900: #3B4262;

  /* Background gradient */
  --color-bg-gradient-start: #1F3757;
  --color-bg-gradient-end: #131537;
  --color-bg-gradient: radial-gradient(circle,
      var(--color-bg-gradient-start) 0%,
      var(--color-bg-gradient-end) 100%);

  /* Paper gradient */
  --color-paper-gradient-start: #F3F3F3;
  --color-paper-gradient-end: #DADADA;
  --color-paper-gradient: linear-gradient(to right,
      var(--color-paper-gradient-start) 0%,
      var(--color-paper-gradient-end) 100%);

  /* Modal gradient */
  --color-modal-gradient-start: #00000090;
  --color-modal-gradient-end: #00000030;
  --color-modal-gradient: radial-gradient(circle,
      var(--color-modal-gradient-start) 0%,
      var(--color-modal-gradient-end) 100%);

  /* Tokens */
  --chip-size-bonus: 9.1rem;
  --chip-size-bonus-padding: 1.5rem;
  --chip-size-standard: 12.5rem;
  --chip-size-standard-padding: 1.5rem;
  --chip-size-outcome: 18.25rem;
  --chip-size-outcome-padding: 2rem;
  --chip-icon-size: 4rem;
}

@media (max-width: breakpoints.$breakpoint-mobile) {
  :root {
    /* Override Tokens */
    --chip-size-bonus: 6.5rem;
    --chip-size-bonus-padding: 0.85rem;
    --chip-size-standard: 8.5rem;
    --chip-size-standard-padding: 1.25rem;
    --chip-size-outcome: 8.5rem;
    --chip-size-outcome-padding: 1.25rem;
    --chip-icon-size: 2.5rem;
  }
}

body {
  user-select: none;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-semibold);
  color: var(--color-navy-900);
  width: 100vw;

  @include breakpoints.tablet {
    position: fixed;
    left: 0;
    top: 0;
  }
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-gradient);
  position: relative;
  width: 100%;

  .app {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    max-width: breakpoints.$breakpoint-max;
    min-height: 100vh;
    padding: 3rem 2rem;
    width: 100%;
  }

  .app-loading {
    &__animation {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-bg-gradient);
      position: fixed;
      left: 0;
      top: 0;

      &::after {
        content: "";
        display: block;
        background: url("../images/loader.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        aspect-ratio: 1;
        width: 4rem;
      }
    }
  }

  @include breakpoints.tablet {
    position: fixed;
    inset: 0;

    .app {
      max-width: 100%;
      padding: 2.5rem 2.5rem 1.5rem;
    }
  }

  @include breakpoints.mobile {
    .app {
      max-width: 100%;
      min-height: 100%;
      padding: 1rem;
    }
  }
}
