/* ==========================================================================
   Reset / Base
   ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  border: 0;
  outline: 0;
}

button,
input[type="button"] {
  color: var(--color-navy-900);
  background: var(--color-white);
  cursor: url("../images/pointer.svg"), pointer;
  padding: 0.65rem 2.4rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 1.2;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
