@use 'breakpoints';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 1rem;

  .outline-button {
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  @include breakpoints.mobile {
    gap: 0.5rem;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0.5rem 1rem;
    bottom: 0;
    right: 0;
    left: 0;

    .toggle-button-wrapper {
      .toggle-button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
      }
    }

    .outline-button {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
    }
  }
}
