@use 'breakpoints';

.footer {
  width: 100%;
  position: relative;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 1rem;
  }

  .fab-action-button {
    width: 3.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: none;
    padding: 0;
  }

  .outline-button {
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  @include breakpoints.mobile {
    position: absolute;
    bottom: 0;
    left: 0;

    .toggle-button-wrapper {
      .toggle-button {
        padding: 0.8rem 1.25rem;
        font-size: 0.85rem;
      }
    }

    .outline-button {
      padding: 0.8rem 1.25rem;
      font-size: 0.8rem;
    }

    .footer-container {
      left: 0;
      bottom: 0;
      height: 100vh;
      gap: 0.75rem;
      position: absolute;
      flex-direction: column;
      background: var(--color-modal-gradient);
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: 6rem;
      padding-right: 1rem;
      z-index: 800;
      display: none;

      &--is-mobile-open {
        display: flex;
      }
    }

    .fab-action-button {
      z-index: 850;
      position: fixed;
      display: inline-flex;
      background-color: transparent;
      background-image: url("../../images/icon-menu.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      bottom: 1rem;
      right: 1rem;

      &--is-menu-open {
        background-color: var(--color-white);
        background-image: url("../../images/icon-close.svg");
        background-size: 1.5rem;
      }
    }
  }
}
