@use 'breakpoints';

$translucent-bg: #00000090;

.footer {
  width: 100%;
  position: relative;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 1rem;
  }

  .fab-action-button {
    width: 3.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: none;
    padding: 0;
  }

  .outline-button {
    padding: 0.6rem 1.2rem;
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  @include breakpoints.tablet {
    .toggle-button-wrapper {
      .toggle-button {
        background-color: $translucent-bg;
        padding: 0.8rem 1.25rem;
        font-size: 0.85rem;
      }
    }

    .outline-button {
      color: var(--color-navy-900);
      background-color: var(--color-white);
      padding: 0.8rem 1.25rem;
      font-size: 0.8rem;
    }

    .footer-container {
      left: 0;
      bottom: 0;
      height: 100vh;
      gap: 0.75rem;
      position: absolute;
      flex-direction: column;
      background: var(--color-modal-gradient);
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: 6rem;
      padding-right: 1rem;
      z-index: 800;
      display: none;
    }

    .fab-action-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
      border: 1.2px solid var(--color-white);
      color: var(--color-navy-900);
      position: fixed;
      z-index: 850;
      bottom: 1rem;
      right: 1rem;
    }

    &--is-menu-open {
      inset: 0;
      position: absolute;
      background-color: $translucent-bg;
      z-index: 800;

      .footer-container {
        display: flex;
      }

      .fab-action-button {
        color: var(--color-red-800);
        background-color: var(--color-white);
        border-color: transparent;
      }
    }
  }
}
