 @use 'breakpoints';

 .selected-option {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 4rem;

   .selection-label {
     font-size: 1.5rem;
     color: var(--color-white);
     font-weight: var(--font-weight-bold);
     letter-spacing: 3px;
     line-height: 1.35;
   }

   .chip {
     cursor: default;
     position: relative;

     &__status-loading {
       opacity: 0.3;
       width: calc(var(--chip-size-outcome));
       height: calc(var(--chip-size-outcome) * 1.02);
       background-image: url("../../images/spinner.svg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
     }

     &__status-neutral {
       &:hover {
         &::after {
           display: none;
         }
       }
     }
   }

   @include breakpoints.mobile {
     flex-direction: column-reverse;
     gap: 2rem;

     .selection-label {
       font-size: 1rem;
       letter-spacing: 2px;
       line-height: 2;
     }
   }
 }
