.chip {
  width: var(--chip-size);
  height: calc(var(--chip-size) + 0.2rem);
  cursor: url("../../images/pointer.svg"), pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  padding: 1.5rem;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: calc(100% - 0.4rem);
    position: absolute;
    border-radius: 50%;
    display: block;
    z-index: 2;
    top: 0;
  }

  &:hover {
    &::after {
      content: "";
      width: calc(100% + 3.5rem);
      height: calc(100% + 3.5rem);
      background-color: var(--color-white);
      transition: all 3s ease-in-out;
      position: absolute;
      border-radius: 50%;
      display: block;
      z-index: 1;
      opacity: 0.1;
      top: -1.75rem;
    }
  }

  &.rock {
    background: var(--color-red-800);

    &::before {
      background: var(--color-red-600);
    }
  }

  &.paper {
    background: var(--color-blue-700);

    &::before {
      background: var(--color-blue-500);
    }
  }

  &.scissors {
    background: var(--color-gold-600);

    &::before {
      background: var(--color-gold-500);
    }
  }

  &.lizard {
    background: var(--color-purple-700);

    &::before {
      background: var(--color-purple-600);
    }
  }

  &.spock {
    background: var(--color-light-blue-500);

    &::before {
      background: var(--color-light-blue-400);
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gray-400);
    position: relative;
    border-radius: 50%;
    width: 9.5rem;
    height: 9.5rem;
    z-index: 3;

    &:after {
      content: "";
      width: 100%;
      height: calc(100% - 0.5rem);
      background: var(--color-paper-gradient);
      position: absolute;
      border-radius: 50%;
      display: block;
      bottom: 0;
      z-index: 4;
    }
  }

  .icon {
    min-width: 4rem;
    aspect-ratio: 1;
    z-index: 5;
  }

  &.board--standard {
    &:nth-of-type(1) {
      left: 0;
      top: 0;
    }

    &:nth-of-type(2) {
      right: 0;
      top: 0;
    }

    &:nth-of-type(3) {
      left: calc(50% - 6.25rem);
      bottom: 0;
    }
  }
}
